{% include "public/head_file.html"%}
    <h1>Personal Info</h1>
    <div class="container">
        <label for="name">Name: </label>
        <div class="personal_info" name="name">{{ person.first_name }}</div>
        <label for="sur_name">Surname: </label>
        <div class="personal_info" name="sur_name">{{ person.sur_name }}</div>
        <label for="b_day">date of birth: </label>
        <div class="personal_info" name="b_day">{{ person.birth_date }}</div>
        <label for="bio">bio: </label>
        <textarea class="personal_info bio_area" name="bio" readonly="readonly">{{ person.bio }}</textarea>
        <label for="contacts">contacts: </label>
        <ul class="personal_info contact_area" name="contacts">
            {% for title, address in person.contacts.items %}
                <label class="contact_title" for="{{title}}">{{title}}</label>
                <li class="contact_address" name="{{title}}">{{address}}</li>
            {% endfor %}
        </ul>
    </div>
{% include "public/footer_file.html"%}