{% include "public/head_file.html"%}
    <h1>Latest 10 requests</h1>
    <ul>
    {% if requests %}
        {% for request in requests %}
            <li> 
                <h3>Request #1</h3>
                <ul>
                    <li>request scheme: </li>
                    <li>request body: </li>
                    <li>request path: </li>
                    <li>request method: </li>
                    <li>request date: </li>
                </ul>
            </li>
        {% endfor %}
    </ul>
{% include "public/footer_file.html"%}