{% include "public/head_file.html"%}
    <h1>{% if n %} {{ n }} unread request(s) | {% endif%} Latest 10 requests</h1>
    <small>Requests to this page are not counted in unread requests.</small>
    <ul>
    {% if requests %}
        {% for request in requests %}
            <li> 
                <h3>Request {{ forloop.counter }}</h3>
                <ul>
                    <li>request scheme: {{ request.scheme }}</li>
                    <li>request body: {{ request.body }}</li>
                    <li>request path: {{ request.path }}</li>
                    <li>request method: {{ request.method }}</li>
                    <li>request date: {{ request.date }}</li>
                </ul>
            </li>
        {% endfor %}
    {% endif %}
    </ul>
{% include "public/footer_file.html"%}